#container{
    /* da para alinhar, como se fosse marca d'agua*/
    background-image:url('../img/looney-tunes-1221819_widelg.jpg');
    height: 1000px;
    background-repeat: no-repeat;
}

h1{
    color: aliceblue;
    font-size: xx-large;
    text-align: center;
}

footer{
    color: bisque;
    font-size: larger;
}

